<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXTENSION_GROUP</key>
	<string>group.com.bytedance.ee.lark.yzj</string>
	<key>AMAP_KEY</key>
	<string>39667fbb6cc4ea04c2e92c774390ce10</string>
	<key>AppId</key>
	<string>1229</string>
	<key>BuildInfo</key>
	<string>default</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>docs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CHANNEL_NAME</key>
	<string>sandbox</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>2310e6763fbc9f3729c0cb307740d89cc8da6848</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lark</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MOBILE_APPID</key>
	<string>1229</string>
	<key>MOBILE_APPKEY</key>
	<string>com.bytedance.ee.docs.yzj</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我会使用你的麦克风</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>我会对你进行语音识别</string>
	<key>NSUserTrackingUsageDescription</key>
	<string></string>
	<key>RELEASE_CHANNEL</key>
	<string>Release</string>
	<key>SSAppID</key>
	<string>1229</string>
	<key>SUPPORTED_LANGUAGES</key>
	<array>
		<string>en_US</string>
		<string>zh_CN</string>
		<string>ja_JP</string>
		<string>id_ID</string>
		<string>de_DE</string>
		<string>es_ES</string>
		<string>fr_FR</string>
		<string>it_IT</string>
		<string>pt_BR</string>
		<string>vi_VN</string>
		<string>ru_RU</string>
		<string>zh_TW</string>
		<string>zh_HK</string>
		<string>hi_IN</string>
		<string>th_TH</string>
		<string>ko_KR</string>
	</array>
	<key>TELECOM_APPID</key>
	<string>1229</string>
	<key>TELECOM_APPKEY</key>
	<string>com.bytedance.ee.docs.yzj</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UNICOM_APPID</key>
	<string>1229</string>
	<key>UNICOM_APPKEY</key>
	<string>com.bytedance.ee.docs.yzj</string>
</dict>
</plist>
