<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggerStages</key>
	<array>
		<string>afterFirstRender</string>
		<string>idle</string>
	</array>
	<key>branchRouter</key>
	<dict>
		<key>LarkSafeModeTask</key>
		<array>
			<string>safeModeStage</string>
		</array>
		<key>ByteView.GuestBranchTask</key>
		<array>
			<string>vcGuestMeetingStage</string>
		</array>
		<key>LaunchGuideTask</key>
		<array>
			<string>loginStage</string>
			<string>createTeamStage</string>
			<string>launchGuideLoginStage</string>
		</array>
		<key>FastLoginTask</key>
		<array>
			<string>launchGuideStage</string>
		</array>
		<key>PrivacyCheckTask</key>
		<array>
			<string>privacyAlertStage</string>
		</array>
	</dict>
	<key>branchPath</key>
	<dict>
		<key>afterSwitchStage</key>
		<array>
			<string>afterSwitchStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>createTeamStage</key>
		<array>
			<string>createTeamStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>loginStage</key>
		<array>
			<string>loginStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>launchGuideLoginStage</key>
		<array>
			<string>launchGuideLoginStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>launchGuideStage</key>
		<array>
			<string>launchGuideStage</string>
		</array>
	</dict>
	<key>criticalPath</key>
	<array>
		<string>beforeLoginStage</string>
		<string>afterLoginStage</string>
		<string>afterFirstRender</string>
		<string>idle</string>
	</array>
	<key>stageConfigs</key>
	<dict>
		<key>safeModeStage</key>
		<array>
			<string>SetupLoggerTask</string>
			<string>StartApplicationTask</string>
			<string>SetupMonitorTask</string>
			<string>LarkEnterSafeModeTask</string>
		</array>
		<key>launchGuideStage</key>
		<array>
			<string>SetupDebugTask</string>
			<string>SuiteLoginFetchConfig</string>
			<string>LKContentFixTask</string>
			<string>LaunchGuideTask</string>
		</array>
		<key>afterFirstRender</key>
		<array>
			<string>LoadFGTask</string>
			<string>UpdateWaterMaskTask</string>
			<string>ResumeOnboardingTask</string>
			<string>SetupPerfMonitor</string>
			<string>ABTestSetupTask</string>
			<string>TrackLaunchTask</string>
			<string>RegistNotificationTask</string>
			<string>UploadPushTokenTask</string>
			<string>UpdateTimeZoneTask</string>
			<string>ObservePasteboardTask</string>
			<string>ContactLaunchTask</string>
			<string>SetupKeyboardTask</string>
			<string>SuiteLoginAfterAccountLoaded</string>
			<string>LKContentFixTask</string>
			<string>SetupDebugTask</string>
			<string>EmotionResouceTask</string>
			<string>SetupGuideTask</string>
			<string>ForceTouchTask</string>
			<string>SetupSafetyTask</string>
			<string>ExtensionUpdateTask</string>
			<string>OrientationTask</string>
			<string>SuiteLoginFetchConfig</string>
			<string>OfflineResourceTask</string>
			<string>LoadSuspendTask</string>
			<string>InitFeedbackTask</string>
			<string>SetupAppLinkSDKTask</string>
			<string>SetupCodeCoverageTask</string>
		</array>
		<key>idle</key>
		<array>
			<string>LoadUrgentTask</string>
			<string>CheckNewVersion</string>
			<string>I18nLoadFGTask</string>
			<string>FetchPayTokenTask</string>
			<string>LeanModeLaunchTask</string>
			<string>FeedBannerTask</string>
			<string>UpdateABTestTask</string>
			<string>InhoseUpdateTask</string>
			<string>BGTaskSwitch</string>
			<string>SetupDiskMonitor</string>
			<string>PoliciesSignTask</string>
			<string>SetupICloudTask</string>
			<string>SetupCacheTask</string>
			<string>LarkMagicLaunchTask</string>
			<string>ThemeAnalyticsTask</string>
			<string>SplashIdleTask</string>
		</array>
		<key>loginStage</key>
		<array>
			<string>SetupUATask</string>
			<string>LoginTask</string>
		</array>
		<key>privacyAlertStage</key>
		<array>
			<string>SetupUATask</string>
			<string>SetupDebugTask</string>
			<string>PrivacyBizTask</string>
		</array>
		<key>createTeamStage</key>
		<array>
			<string>CreateTeamTask</string>
		</array>
		<key>loginSuccessStage</key>
		<array>
			<string>PoliciesSignTask</string>
			<string>SetupGuideTask</string>
			<string>OfflineResourceTask</string>
			<string>ByteView.GuestBranchTask</string>
			<string>BlockLaunchTask</string>
		</array>
		<key>afterLoginStage</key>
		<array>
			<string>SplashLaunchTask</string>
			<string>PreloadTabServiceTask</string>
			<string>SetupRustTask</string>
			<string>UpdateMonitorTask</string>
			<string>AnalysisFirstTabTask</string>
			<string>LoadFeedTask</string>
			<string>CalendarSetupTask</string>
			<string>SetupDocsTask</string>
			<string>SetupUATask</string>
			<string>SetupCookieTask</string>
			<string>SetupDocsHandleLoginTask</string>
			<string>LoadDocsTask</string>
			<string>SetupOpenPlatformTask</string>
			<string>GadgetSetupTask</string>
			<string>SetupModuleTask</string>
			<string>SetupDispatcherTask</string>
			<string>LarkThreadLaunchTask</string>
			<string>ExtensionMessengerSetup</string>
			<string>SetupMailTask</string>
			<string>PushKitService.SetupTask</string>
			<string>ByteView.SetupLoggerTask</string>
			<string>ByteView.VCSetupTask</string>
			<string>ByteView.VoIPSetupTask</string>
			<string>PreloadTabGadgetTask</string>
			<string>UpdateOfflineResource</string>
			<string>AppReciableSDKInitTask</string>
			<string>LarkDynamicResourceTask</string>
			<string>SetupMainTabTask</string>
			<string>UnloginProcessHandlerTask</string>
			<string>AccountInterrupstHandlerTask</string>
			<string>UpdateAuditTask</string>
			<string>SetupServerPushTask</string>
			<string>SceneSetupTask</string>
		</array>
		<key>afterSwitchStage</key>
		<array>
			<string>WidgetLaunchTask</string>
		</array>
		<key>beforeLoginStage</key>
		<array>
			<string>LanguageManagerInitTask</string>
			<string>LarkMainAssembly</string>
			<string>PrivacyCheckTask</string>
			<string>SetupAlogTask</string>
			<string>SetupSlardarTask</string>
			<string>SetupTTNetTask</string>
			<string>LarkSafeModeTask</string>
			<string>PreloadLaunchTask</string>
			<string>PassportPreloadLaunchTask</string>
			<string>SetupLoggerTask</string>
			<string>SetupFileTask</string>
			<string>SetupMacTask</string>
			<string>StartApplicationTask</string>
			<string>SetupBGTask</string>
			<string>SetupMonitorTask</string>
			<string>SetupAppLogTask</string>
			<string>SuiteLoginLoggerTask</string>
			<string>ResourceSetupTask</string>
			<string>ThemeSetupTask</string>
			<string>SetupLauncherTask</string>
			<string>SetupLarkBadgeTask</string>
			<string>SetupURLProtocolTask</string>
			<string>SettingBundleTask</string>
			<string>AppsFlyerTask</string>
			<string>TroubleKillerTask</string>
			<string>TourSetupTask</string>
			<string>SetupOPInterfaceTask</string>
			<string>SetupDocsEnvTask</string>
			<string>SetupCanvasCacheTask</string>
			<string>FastLoginTask</string>
		</array>
		<key>vcGuestMeetingStage</key>
		<array>
			<string>SetupRustTask</string>
			<string>LoadFGTask</string>
			<string>EmotionResouceTask</string>
			<string>OrientationTask</string>
			<string>SetupDocsTask</string>
			<string>SetupUATask</string>
			<string>SetupCookieTask</string>
			<string>SetupDocsHandleLoginTask</string>
			<string>ByteView.SetupLoggerTask</string>
			<string>ByteView.GuestSetupTask</string>
			<string>ByteView.GuestJoinMeetingTask</string>
		</array>
		<key>launchGuideLoginStage</key>
		<array/>
	</dict>
</dict>
</plist>
