<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Permission</key>
	<dict>
		<key>scanCode</key>
		<string>camera</string>
		<key>openLocation</key>
		<string>location</string>
		<key>getCloudStorageByLocation</key>
		<string>location</string>
		<key>saveImageToPhotosAlbum</key>
		<string>album</string>
		<key>saveVideoToPhotosAlbum</key>
		<string>album</string>
		<key>operateRecorder</key>
		<string>microphone</string>
		<key>getLocation</key>
		<string>location</string>
		<key>chooseAddress</key>
		<string>address</string>
		<key>chooseLocation</key>
		<string>location</string>
	</dict>
	<key>WhiteList</key>
	<array>
		<string>createDownloadAppTask</string>
		<string>dealUserRelation</string>
		<string>getUseDuration</string>
		<string>microappLog</string>
		<string>_serviceGetPhoneNumber</string>
		<string>getFavoritesList</string>
		<string>addToFavorites</string>
		<string>removeFromFavorites</string>
		<string>sortFavorites</string>
		<string>addToUserFavorites</string>
		<string>isInUserFavoritesSync</string>
		<string>preloadMiniProgram</string>
		<string>onBeforeCloseReturnSync</string>
	</array>
	<key>Scope</key>
	<dict>
		<key>album</key>
		<dict>
			<key>description</key>
			<string>-使用你的相册</string>
			<key>title</key>
			<string>相册权限</string>
			<key>description_new</key>
			<string>用于选取图片视频，或保存图片视频到你的相册</string>
			<key>systemPermissions</key>
			<array>
				<integer>3</integer>
			</array>
			<key>name</key>
			<string>相册</string>
		</dict>
		<key>camera</key>
		<dict>
			<key>description</key>
			<string>-使用你的相机</string>
			<key>name</key>
			<string>相机</string>
			<key>title</key>
			<string>相机权限</string>
			<key>systemPermissions</key>
			<array>
				<integer>1</integer>
			</array>
			<key>description_new</key>
			<string>用于拍摄图片、录制视频</string>
		</dict>
		<key>microphone</key>
		<dict>
			<key>systemPermissions</key>
			<array>
				<integer>2</integer>
			</array>
			<key>name</key>
			<string>麦克风</string>
			<key>description</key>
			<string>-使用你的麦克风</string>
			<key>description_new</key>
			<string>用于采集声音</string>
			<key>title</key>
			<string>麦克风权限</string>
		</dict>
		<key>location</key>
		<dict>
			<key>name</key>
			<string>地理位置</string>
			<key>description</key>
			<string>-获取你的地理位置信息</string>
			<key>title</key>
			<string>地理位置信息</string>
			<key>description_new</key>
			<string>用于提供个性化服务及体验</string>
		</dict>
		<key>userinfo</key>
		<dict>
			<key>description</key>
			<string>-获得你的公开信息（头像，昵称等）</string>
			<key>name</key>
			<string>用户信息</string>
			<key>title</key>
			<string>个人信息（头像，昵称等）</string>
			<key>description_new</key>
			<string>当前{host_name}帐号</string>
		</dict>
		<key>address</key>
		<dict>
			<key>name</key>
			<string>收货地址</string>
			<key>title</key>
			<string>收货地址信息</string>
			<key>description</key>
			<string>-访问你的收货地址信息</string>
			<key>description_new</key>
			<string>一键访问“{host_name}”收货地址，便捷管理</string>
		</dict>
		<key>screenRecord</key>
		<dict>
			<key>name</key>
			<string>游戏画面录屏</string>
			<key>description</key>
			<string>录制当前游戏画面</string>
			<key>title</key>
			<string>游戏画面录屏</string>
			<key>description_new</key>
			<string>1. 该功能只录制当前游戏画面，不会录制其他应用
2. 未经用户手动发布的视频只存在本地，游戏关闭后会被清除
3. 关闭后可能会导致部分游戏功能不可用</string>
		</dict>
	</dict>
</dict>
</plist>
