*.xcuserdatad
.rc
.xctemp
.eescaffold/podspecs.rclt
.eescaffold/i18n.mappr.yaml
.eescaffold/publish_status.yaml
Pods/
builds/
Products/
.DS_Store
report.xml
.bundle/
.githooks/post-checkout
.githooks/post-commit
.githooks/post-merge
.githooks/pre-push
build/
XCRC/
!.rcinfo
bin/zld
bin/ld64.lld
bin/kunld
LLDBInitFile