.*
!.gitignore
!.rspec
*.xcuserdata*
.gitattributes
*xcuserdata*
*.bcsymbolmap
Carthage/*
Carthage/
.vscode/
node_modules
package-lock.json
Gemfile.lock
Libs/*-dev
Build/

# proto
# im-protobuf/

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store
tags
.idea/

## Build generated
Lark.build/
DerivedData/
Products/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/
Pods
wget-log.*
Podfile.patch

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# custom tool
fastlane/dsymutil
fastlane/RemoveUnusedPB
fastlane/Logs/
fastlane/README.md

#Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

# rust sdk library
#
# Ignore debug and release version rust sdk library

Frameworks/rust/Debug/*
Frameworks/rust/Release/*

BuildScript/*.pyc
**/project.pbxproj.backup

# EESC
AppsSandbox/**

# KA
ka_material
bin/ka_resource_replace/output
bin/ka_resource_replace/tmp

# Seer
!.seer/
temp

#
zld
zld.zip
ld64.lld
kunld
jild
gmo-summary/merged.index
bin/lark_clang
bin/lark_swiftc
Sourcetrail/
pod_group/
buildServer.json
XCRC/
!.rcinfo
LLDBInitFile
vendor/bundle
assert_dir_config

# Demo Podfile.strict.lock
Modules/ByteView/Example/Podfile.strict.lock

# Project
*.xcodeproj
!Lark.xcodeproj

# Bazel
bazel-*
bazel-*/
!.bazelrc
!.bazeliskrc
!.bazelversion

# BitSky
!.bitsky/bitsky.yaml
Logs/
WORKSPACE
xcconfig.bzl
!WORKSPACE/
BUILD.bazel
/Modules/**/BUILD
/Modules/**/*.pch
!/Modules/BazelCommon/**
Modules/BazelCommon/defs.bzl
/Libs/LarkShareExtension/BUILD
/Libs/LarkShareExtension/*.pch
pod_support/
dev_target/
Host_Patch*
*.tulsiproj/
LarkConfig/*.xcconfig
virtual_group_map.json
!/external/**/pod_support/
!/external/**/BUILD.bazel
!/external/**/build/
!/external/**/products/
!/external/**/tags/
!/external/**/Tags/
!/external/**/WORKSPACE

parse*.rb
json_to_yaml.rb
*.diff
pod*.log
module_workspace.json
module.json
Podfile.lock.selfpods.json
RemoveUnusedPB
bin/bitsky_jild
bazel_external

# LarkSetting Key auto collect
Modules/Infra/Libs/LarkSetting/Resources/AutoUserSettingKeys.plist

# LarkMail Local Debug resources
Modules/Mail/MailSDK/Resources/mail-native-template/template

# LarkMail editor path
Modules/Infra/Libs/LarkEditorJS/Scripts/mail_editor_path.txt
