<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api</key>
	<dict>
		<key>offUserCaptureScreen</key>
		<string>removeOld</string>
		<key>onUserCaptureScreen</key>
		<string>removeOld</string>
		<key>getConnectedWifi</key>
		<string>removeOld</string>
		<key>getWifiList</key>
		<string>removeOld</string>
		<key>getWifiStatus</key>
		<string>removeOld</string>
		<key>offGetWifiList</key>
		<string>removeOld</string>
		<key>onGetWifiList</key>
		<string>removeOld</string>
		<key>getClipboardData</key>
		<string>removeOld</string>
		<key>setClipboardData</key>
		<string>removeOld</string>
		<key>enableAccelerometer</key>
		<string>removeOld</string>
		<key>startCompass</key>
		<string>removeOld</string>
		<key>stopCompass</key>
		<string>removeOld</string>
		<key>startDeviceCredential</key>
		<string>removeOld</string>
		<key>makePhoneCall</key>
		<string>removeOld</string>
		<key>vibrateLong</key>
		<string>removeOld</string>
		<key>vibrateShort</key>
		<string>removeOld</string>
		<key>setKeepScreenOn</key>
		<string>removeOld</string>
		<key>getScreenBrightness</key>
		<string>removeOld</string>
		<key>setScreenBrightness</key>
		<string>removeOld</string>
		<key>mailto</key>
		<string>removeOld</string>
		<key>setBounces</key>
		<string>removeOld</string>
		<key>setNavigationBarHidden</key>
		<string>removeOld</string>
		<key>showRichText</key>
		<string>removeOld</string>
		<key>hideRichText</key>
		<string>removeOld</string>
		<key>showShareMenu</key>
		<string>removeOld</string>
		<key>hideShareMenu</key>
		<string>removeOld</string>
		<key>checkWatermark</key>
		<string>removeOld</string>
		<key>getHostLaunchQuery</key>
		<string>removeOld</string>
		<key>getHostLaunchQuerySync</key>
		<string>removeOld</string>
		<key>exitMiniProgram</key>
		<string>removeOld</string>
		<key>getLaunchOptionsSync</key>
		<string>removeOld</string>
		<key>getEnvironmentVariables</key>
		<string>removeOld</string>
        <key>chooseChat</key>
        <string>removeOld</string>
        <key>showModal</key>
        <string>removeOld</string>
        <key>chooseLocation</key>
        <string>removeOld</string>
        <key>openLocation</key>
        <string>removeOld</string>
	</dict>
</dict>
</plist>
