<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>OK</string>
	<string>THUMBSUP</string>
	<string>THANKS</string>
	<string>MUSCLE</string>
	<string>FINGERHEART</string>
	<string>APPLAUSE</string>
	<string>FISTBUMP</string>
	<string>JIAYI</string>
	<string>DONE</string>
	<string>SMILE</string>
	<string>BLUSH</string>
	<string>LAUGH</string>
	<string>SMIRK</string>
	<string>LOL</string>
	<string>FACEPALM</string>
	<string>LOVE</string>
	<string>WINK</string>
	<string>PROUD</string>
	<string>WITTY</string>
	<string>SMART</string>
	<string>SCOWL</string>
	<string>THINKING</string>
	<string>SOB</string>
	<string>CRY</string>
	<string>ERROR</string>
	<string>NOSEPICK</string>
	<string>HAUGHTY</string>
	<string>SLAP</string>
	<string>SPITBLOOD</string>
	<string>TOASTED</string>
	<string>BLACKFACE</string>
	<string>GLANCE</string>
	<string>DULL</string>
	<string>ROSE</string>
	<string>HEART</string>
	<string>PARTY</string>
	<string>INNOCENTSMILE</string>
	<string>SHY</string>
	<string>CHUCKLE</string>
	<string>JOYFUL</string>
	<string>WOW</string>
	<string>TRICK</string>
	<string>YEAH</string>
	<string>ENOUGH</string>
	<string>TEARS</string>
	<string>EMBARRASSED</string>
	<string>KISS</string>
	<string>SMOOCH</string>
	<string>DROOL</string>
	<string>OBSESSED</string>
	<string>MONEY</string>
	<string>TEASE</string>
	<string>SHOWOFF</string>
	<string>COMFORT</string>
	<string>CLAP</string>
	<string>PRAISE</string>
	<string>STRIVE</string>
	<string>XBLUSH</string>
	<string>SILENT</string>
	<string>WAVE</string>
	<string>EATING</string>
	<string>WHAT</string>
	<string>FROWN</string>
	<string>DULLSTARE</string>
	<string>DIZZY</string>
	<string>LOOKDOWN</string>
	<string>WAIL</string>
	<string>CRAZY</string>
	<string>WHIMPER</string>
	<string>HUG</string>
	<string>BLUBBER</string>
	<string>WRONGED</string>
	<string>HUSKY</string>
	<string>SHHH</string>
	<string>SMUG</string>
	<string>ANGRY</string>
	<string>HAMMER</string>
	<string>SHOCKED</string>
	<string>TERROR</string>
	<string>PETRIFIED</string>
	<string>SKULL</string>
	<string>SWEAT</string>
	<string>SPEECHLESS</string>
	<string>SLEEP</string>
	<string>DROWSY</string>
	<string>YAWN</string>
	<string>SICK</string>
	<string>PUKE</string>
	<string>BIGKISS</string>
	<string>BETRAYED</string>
	<string>HEADSET</string>
	<string>DONNOTGO</string>
	<string>EatingFood</string>
	<string>Typing</string>
	<string>Lemon</string>
	<string>Get</string>
	<string>LGTM</string>
	<string>SALUTE</string>
	<string>SHAKE</string>
	<string>HIGHFIVE</string>
	<string>UPPERLEFT</string>
	<string>ThumbsDown</string>
	<string>SLIGHT</string>
	<string>TONGUE</string>
	<string>EYESCLOSED</string>
	<string>BEAR</string>
	<string>BULL</string>
	<string>CALF</string>
	<string>LIPS</string>
	<string>BEER</string>
	<string>CAKE</string>
	<string>GIFT</string>
	<string>CUCUMBER</string>
	<string>Drumstick</string>
	<string>Pepper</string>
	<string>CANDIEDHAWS</string>
	<string>BubbleTea</string>
	<string>Coffee</string>
	<string>Yes</string>
	<string>No</string>
	<string>OKR</string>
	<string>CheckMark</string>
	<string>CrossMark</string>
	<string>MinusOne</string>
	<string>Hundred</string>
	<string>2022</string>
	<string>AWESOMEN</string>
	<string>Pin</string>
	<string>Alarm</string>
	<string>Loudspeaker</string>
	<string>Trophy</string>
	<string>Fire</string>
	<string>RAINBOWPUKE</string>
	<string>Music</string>
	<string>FIREWORKS</string>
	<string>REDPACKET</string>
	<string>FORTUNE</string>
	<string>LUCK</string>
	<string>FIRECRACKER</string>
	<string>HEARTBROKEN</string>
	<string>BOMB</string>
	<string>POOP</string>
	<string>18X</string>
	<string>CLEAVER</string>
	<string>Soccer</string>
	<string>Basketball</string>
</array>
</plist>
