<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>Lark</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bytedance.ee.inhouse.larkone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lark</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10000</string>
	<key>CHANNEL_NAME</key>
	<string>App Store</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>aa4e3e53eb68b6d4b96e6e1a189869865c040f03</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>docs</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>taobao</string>
		<string>tmall</string>
		<string>mqq</string>
		<string>alipayshare</string>
		<string>alipay</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>dingtalk</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow Lark Use Bluetooth Peripheral.</string>
	<key>NSCameraUsageDescription</key>
	<string>Use your Camera to record video, using VoIP features.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Lark Use your Contact.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Allow Lark Use Health Share.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Allow Lark Use Health Update.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow Lark Use your Location always.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Lark Use your Location when in use.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use your Microphone to record voice messages, using VoIP features.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Lark Use Motion.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Lark Use your PhotoLibrary.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Lark Use your PhotoLibrary.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
