// This file is updated by Cosign, you should not modify it manually.

CODE_SIGN_ENTITLEMENTS =
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 7NRDWQBR5J
PROVISIONING_PROFILE = Cosign iOS Wildcard (V2TESJJ9FR)
PROVISIONING_PROFILE_SPECIFIER = Cosign iOS Wildcard (V2TESJJ9FR)
CODE_SIGN_IDENTITY = Apple Development: Created via API (4C4FNRAQ3J)
CODE_SIGN_IDENTITY[sdk=iphoneos*] = Apple Development: Created via API (4C4FNRAQ3J)