//
//  Debug.xcconfig
//  App
//
//  Created by Bytedance on 2022/8/4.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE =
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER =


#include "Configuration/CodeSign.xcconfig"
