//
//  Release.xcconfig
//  App
//
//  Created by Bytedance on 2022/8/4.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_IDENTITY = iPhone Distribution
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = XXHND5J98K
PROVISIONING_PROFILE_SPECIFIER = LiveSandBoxInHouseDist


#include "Configuration/CodeSign.xcconfig"
