<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title>Universe Design</title>
  <link rel="shortcut icon" type="image/png" href="https://cdn-tos-cn.bytedance.net/obj/archi/ee/sce/es-design/esDesignSystem/logo_black.png">
  <link rel="dns-prefetch" href="//s3.bytecdn.cn/">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script>
    (function(win, export_obj) {
        win['TeaAnalyticsObject'] = export_obj;
        if (!win[export_obj]) {
            function _collect() {
                _collect.q.push(arguments);
            }
            _collect.q = _collect.q || [];
            win[export_obj] = _collect;
        }
        win[export_obj].l = +new Date();
    })(window, 'collectEvent');
  </script>
  <script async src="//lf1-cdn-tos.bytescm.com/goofy/log-sdk/collect/collect-base.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
