<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bottomFixedData</key>
	<dict>
		<key>id</key>
		<string>add_table</string>
		<key>text</key>
		<string>新建数据表</string>
	</dict>
	<key>callback</key>
	<string>window.lark.callback.func_bizbitablemanagerPanel1646388703627_8485</string>
	<key>data</key>
	<array>
		<dict>
			<key>actions</key>
			<array>
				<string>more</string>
				<string>add_view</string>
			</array>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>tblnh1TgsvTZ5oYI</string>
			<key>text</key>
			<string>未命名数据表 1</string>
			<key>type</key>
			<string>BITABLE_TABLE</string>
			<key>views</key>
			<array>
				<dict>
					<key>actions</key>
					<array>
						<string>more</string>
					</array>
					<key>active</key>
					<true/>
					<key>id</key>
					<string>vewQoW7a8h</string>
					<key>text</key>
					<string>表格视图 1</string>
					<key>type</key>
					<string>grid</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>未命名多维表格</string>
</dict>
</plist>
