<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggerStages</key>
	<array>
		<string>afterFirstRender</string>
		<string>idle</string>
	</array>
	<key>branchRouter</key>
	<dict>
		<key>LaunchGuideTask</key>
		<array>
			<string>loginStage</string>
			<string>createTeamStage</string>
		</array>
		<key>FastLoginTask</key>
		<array>
			<string>loginStage</string>
		</array>
	</dict>
	<key>branchPath</key>
	<dict>
		<key>afterSwitchStage</key>
		<array>
			<string>afterSwitchStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>createTeamStage</key>
		<array>
			<string>createTeamStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>loginStage</key>
		<array>
			<string>loginStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>launchGuideLoginStage</key>
		<array>
			<string>launchGuideLoginStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>launchGuideStage</key>
		<array>
			<string>launchGuideStage</string>
		</array>
	</dict>
	<key>criticalPath</key>
	<array>
		<string>beforeLoginStage</string>
		<string>afterLoginStage</string>
		<string>afterFirstRender</string>
		<string>idle</string>
	</array>
	<key>stageConfigs</key>
	<dict>
		<key>launchGuideStage</key>
		<array>
			<string>SetupDebugTask</string>
			<string>SuiteLoginFetchConfig</string>
			<string>LaunchGuideTask</string>
		</array>
		<key>afterFirstRender</key>
		<array>
			<string>SuiteLoginAfterAccountLoaded</string>
			<string>LoadFGTask</string>
			<string>SetupDebugTask</string>
			<string>SuiteLoginFetchConfig</string>
		</array>
		<key>idle</key>
		<array>
			<string>PoliciesSignTask</string>
		</array>
		<key>loginStage</key>
		<array>
			<string>LoginTask</string>
		</array>
		<key>privacyAlertStage</key>
		<array>
			<string>SetupDebugTask</string>
		</array>
		<key>createTeamStage</key>
		<array>
			<string>CreateTeamTask</string>
		</array>
		<key>loginSuccessStage</key>
		<array>
			<string>PoliciesSignTask</string>
		</array>
		<key>afterLoginStage</key>
		<array>
			<string>SetupRustTask</string>
			<string>UnloginProcessHandlerTask</string>
			<string>SetupDispatcherTask</string>
			<string>SetupMainTabTask</string>
			<string>UpdateAuditTask</string>
		</array>
		<key>afterSwitchStage</key>
		<array/>
		<key>beforeLoginStage</key>
		<array>
			<string>LarkMainAssembly</string>
			<string>PreloadLaunchTask</string>
			<string>PassportPreloadLaunchTask</string>
			<string>StartApplicationTask</string>
			<string>SetupAppLogTask</string>
			<string>SuiteLoginLoggerTask</string>
			<string>SetupLauncherTask</string>
			<string>SetupDebugTask</string>
			<string>SuiteLoginFetchConfig</string>
			<string>FastLoginTask</string>
		</array>
	</dict>
</dict>
</plist>
