<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggerStages</key>
	<array/>
	<key>branchRouter</key>
	<dict/>
	<key>branchPath</key>
	<dict/>
	<key>criticalPath</key>
	<array>
		<string>afterLoginStage</string>
	</array>
	<key>stageConfigs</key>
	<dict>
		<key>afterLoginStage</key>
		<array>
			<string>SetupDebugTask</string>
		</array>
	</dict>
</dict>
</plist>
