<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>apiName</key>
		<string>device.connection.getNetworkType</string>
		<key>excuteOnMainThread</key>
		<false/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.account.getDeviceId</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<false/>
	</dict>
	<dict>
		<key>apiName</key>
		<string>biz.util.log</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>paramsClass</key>
		<string>LarkContact.UGLogParams</string>
		<key>excuteOnMainThread</key>
		<false/>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>apiName</key>
		<string>biz.ug.joinTeam</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<false/>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.ug.createTeam</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<false/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.navigation.close</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<false/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.ug.register.close</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<false/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.ug.guide.toast.close</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<false/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.ug.register.industry.authorize.finish</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<false/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.ug.register.industry.authorize.jump</string>
		<key>pluginClass</key>
		<string>LarkContact.UGBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<false/>
	</dict>
</array>
</plist>
