<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>apiName</key>
		<string>biz.ug.oversea.join.code</string>
		<key>pluginClass</key>
		<string>LarkContact.UGOverseaBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<true/>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.ug.oversea.create.tenant</string>
		<key>pluginClass</key>
		<string>LarkContact.UGOverseaBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<true/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.ug.oversea.create.personal</string>
		<key>pluginClass</key>
		<string>LarkContact.UGOverseaBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<true/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.navigation.close</string>
		<key>pluginClass</key>
		<string>LarkContact.UGOverseaBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<true/>
	</dict>
	<dict>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
		<key>apiName</key>
		<string>biz.ug.oversea.check.health</string>
		<key>pluginClass</key>
		<string>LarkContact.UGOverseaBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>excuteOnMainThread</key>
		<true/>
	</dict>
	<dict>
		<key>apiName</key>
		<string>biz.util.log</string>
		<key>pluginClass</key>
		<string>LarkContact.UGOverseaBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>paramsClass</key>
		<string>LarkContact.UGLogParams</string>
		<key>excuteOnMainThread</key>
		<false/>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>apiName</key>
		<string>biz.util.base.event.track</string>
		<key>pluginClass</key>
		<string>LarkContact.UGOverseaBrowserAPIPlugin</string>
		<key>owner</key>
		<string>messenger</string>
		<key>paramsClass</key>
		<string>LarkContact.UGTeaTrackerParams</string>
		<key>excuteOnMainThread</key>
		<false/>
		<key>conditions</key>
		<array>
			<dict>
				<key>bizDomain</key>
				<string>ug</string>
				<key>publicToJS</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
