<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ByteView</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>5.6.6</string>
	<key>CFBundleVersion</key>
	<string>10034</string>
	<key>EXTENSION_GROUP</key>
	<string>group.com.bytedance.ee.lark.vc.dev</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.broadcast-services-upload</string>
		<key>NSExtensionPrincipalClass</key>
		<string>ByteViewBoardcastExtension.BroadcastExtensionHandler</string>
		<key>RPBroadcastProcessMode</key>
		<string>RPBroadcastProcessModeSampleBuffer</string>
	</dict>
	<key>SUPPORTED_LANGUAGES</key>
	<array>
		<string>en_US</string>
		<string>zh_CN</string>
		<string>zh_TW</string>
		<string>zh_HK</string>
		<string>ja_JP</string>
		<string>id_ID</string>
		<string>de_DE</string>
		<string>es_ES</string>
		<string>fr_FR</string>
		<string>it_IT</string>
		<string>pt_BR</string>
		<string>vi_VN</string>
		<string>ru_RU</string>
		<string>hi_IN</string>
		<string>th_TH</string>
		<string>ko_KR</string>
	</array>
</dict>
</plist>
