<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggerStages</key>
	<array>
		<string>afterFirstRender</string>
		<string>idle</string>
	</array>
	<key>branchRouter</key>
	<dict>
		<key>LaunchGuideTask</key>
		<array>
			<string>loginStage</string>
			<string>createTeamStage</string>
		</array>
		<key>FastLoginTask</key>
		<array>
			<string>launchGuideStage</string>
		</array>
		<key>PrivacyCheckTask</key>
		<array>
			<string>privacyAlertStage</string>
		</array>
	</dict>
	<key>branchPath</key>
	<dict>
		<key>launchGuideStage</key>
		<array>
			<string>launchGuideStage</string>
		</array>
		<key>vcGuestMeetingStage</key>
		<array>
			<string>vcGuestMeetingStage</string>
		</array>
		<key>afterSwitchStage</key>
		<array>
			<string>afterSwitchStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>createTeamStage</key>
		<array>
			<string>createTeamStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
		<key>loginStage</key>
		<array>
			<string>loginStage</string>
			<string>loginSuccessStage</string>
			<string>afterLoginStage</string>
		</array>
	</dict>
	<key>criticalPath</key>
	<array>
		<string>beforeLoginStage</string>
		<string>afterLoginStage</string>
		<string>afterFirstRender</string>
		<string>idle</string>
	</array>
	<key>stageConfigs</key>
	<dict>
		<key>vcGuestMeetingStage</key>
		<array>
			<string>SetupDocsTask</string>
			<string>SetupVCTask</string>
		</array>
		<key>launchGuideStage</key>
		<array>
			<string>LaunchGuideTask</string>
		</array>
		<key>afterFirstRender</key>
		<array>
			<string>ForceTouchTask</string>
			<string>DebugTask</string>
		</array>
		<key>idle</key>
		<array>
			<string>SettingBundleTask</string>
			<string>SetupTroubleKillerTask</string>
		</array>
		<key>loginStage</key>
		<array>
			<string>LoginTask</string>
		</array>
		<key>privacyAlertStage</key>
		<array>
			<string>SetupLoggerTask</string>
			<string>PrivacyBizTask</string>
			<string>SetupUATask</string>
			<string>SetupURLProtocolTask</string>
		</array>
		<key>createTeamStage</key>
		<array>
			<string>CreatTeamTask</string>
		</array>
		<key>loginSuccessStage</key>
		<array>
			<string>LoginSuccessTask</string>
		</array>
		<key>afterLoginStage</key>
		<array>
			<string>FakeTask</string>
			<string>SetupMainTabTask</string>
			<string>CalendarPreloadTask</string>
			<string>SetupMailTask</string>
			<string>SetupDocsTask</string>
			<string>SetupVCTask</string>
			<string>SetupOpenPlatformTask</string>
			<string>SetupBDPTask</string>
		</array>
		<key>afterSwitchStage</key>
		<array>
			<string>ClearCookieTask</string>
		</array>
		<key>beforeLoginStage</key>
		<array>
			<string>PrivacyCheckTask</string>
			<string>SetupSlardarTask</string>
			<string>SetupLoggerTask</string>
			<string>SetupTeaTask</string>
			<string>FastLoginTask</string>
		</array>
	</dict>
</dict>
</plist>
