*.DS_Store
*.xcuserdatad

.eescaffold/podspecs.rclt
.eescaffold/publish_status.yaml
.eescaffold/podspecs.rclt
.eescaffold/i18n.mappr.yaml
.bundle/*
.swiftlint.yaml
Pods/
Podfile.strict.lock
Podfile.lock

bin/kunld
/SCDemo/fastlane/report.xml
/fastlane/report.xml
Cosign.xcconfig

**/resources/token_config_list.zip