# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# VS code
.vscode
__pycache__

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
Pods/
.scannerwork
report.xml
reports
vendor
backup
podspecs.rclt
Product/ByteView-dev
Example/AppsSandbox/**
fastlane/test_output/report.html
fastlane/test_output/report.junit
.eescaffold/i18n.mappr.yaml
i18n.mappr.yaml

Components/Minutes/auto_resources/de-DE.strings
Components/Minutes/auto_resources/es-ES.strings
Components/Minutes/auto_resources/fr-FR.strings
Components/Minutes/auto_resources/hi-IN.strings
Components/Minutes/auto_resources/id-ID.strings
Components/Minutes/auto_resources/it-IT.strings
Components/Minutes/auto_resources/ko-KR.strings
Components/Minutes/auto_resources/pt-BR.strings
Components/Minutes/auto_resources/pt-PT.strings
Components/Minutes/auto_resources/ru-RU.strings
Components/Minutes/auto_resources/th-TH.strings
Components/Minutes/auto_resources/vi-VN.strings
Components/Minutes/auto_resources/zh-TW.strings
