.*
*.xcuserdatad
.eescaffold/podspecs.rclt

buildServer.json
#pods
**/Pods/**

#-dev
**/*-dev

.DS_Store

# EEScaffold
**/publish_status.yaml
personal-ci-auth.json

# script-generated
Libs/UI/LarkColor/Resources/Colors.xcassets

# LarkAccount
Bizs/LarkAccount/LarkAccount/app/app/resources/BootConfigs.plist
Bizs/LarkAccount/Podfile.lock


# EMM
Bizs/LarkKAEMM/frameworks
Bizs/LarkKAFKMS/frameworks
buildServer.json
