<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bizParams</key>
	<dict/>
	<key>callback</key>
	<string>callback_biz_comment_showInput_95</string>
	<key>is_whole</key>
	<false/>
	<key>keyboard_pop</key>
	<true/>
	<key>local_comment_id</key>
	<string>e2dc12cb-0798-48c2-8147-a45be6bbc690</string>
	<key>need_loading</key>
	<true/>
	<key>position</key>
	<string></string>
	<key>quote</key>
	<string>hello</string>
	<key>token</key>
	<string>doccnJ4qd5At2LM9fw61Xq0nyfb</string>
	<key>type</key>
	<real>0</real>
</dict>
</plist>
