<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAP_KEY</key>
	<string>0dc335573b797d2f62302bdbb30f912c</string>
	<key>APP_BRAND_NAME</key>
	<string>saas</string>
	<key>AppId</key>
	<string>1161</string>
	<key>AppLink</key>
	<dict>
		<key>Domains</key>
		<array>
			<string>applink.feishu.cn</string>
			<string>applink.larksuite.com</string>
		</array>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>processing_id</string>
		<string>refresh_id</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Feishu</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.bytedance.ee.inhouse.larkone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feishu</string>
				<string>lark</string>
				<string>feishu-open</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx2dccad7bcdbdab7e</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sinaweibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb1426943654</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentApiIdentifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1107733183</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.183836606264-1k3359v9srpjc45oq18ltcnipjgbclos</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.183836606264-a7trbpa3pb095e4fplepcls6ga1d0oiv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lkd91mya3l2ogfe5be</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10000</string>
	<key>CHANNEL_NAME</key>
	<string>local_test</string>
	<key>EXTENSION_GROUP</key>
	<string>group.com.bytedance.ee.lark.yzj</string>
	<key>IS_CUSTOMIZED_KA</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>NSUserActivityTypes</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>ymail</string>
		<string>ms-outlook</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqqwpa</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqzone</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>sinaweibosso</string>
		<string>adengine1374</string>
		<string>tuchong</string>
		<string>seal</string>
		<string>snssdk1128</string>
		<string>snssdk1112</string>
		<string>waze</string>
		<string>comgooglemaps</string>
		<string>qqmap</string>
		<string>sgmap</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>zoomus</string>
		<string>docs</string>
		<string>taobao</string>
		<string>tmall</string>
		<string>mqq</string>
		<string>alipayshare</string>
		<string>alipay</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>dingtalk</string>
		<string>xiaomier</string>
		<string>weixinULAPI</string>
		<string>dmallos</string>
		<string>tel</string>
		<string>lark</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MLeaksFinderWhiteList</key>
	<array>
		<string>WebBrowser</string>
		<string>ReactionTag</string>
		<string>SideBarViewController</string>
		<string>TMAContainerController</string>
		<string>TMANavigationController</string>
		<string>ZMZoomViewController</string>
	</array>
	<key>MOBILE_APPID</key>
	<string>placeholder</string>
	<key>MOBILE_APPKEY</key>
	<string>placeholder</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Some functionality in Feishu including Check-In may be affected if Bluetooth access is not granted.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Some functionality in Feishu including Check-In may be affected if Bluetooth access is not granted.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Feishu needs the access to your phone calendar to be able to exhibit your local events.</string>
	<key>NSCameraUsageDescription</key>
	<string>Feishu needs access to your phone camera to let you shoot photos and send out in one go, and enable QR code scanning and video calls.</string>
	<key>NSContactsUsageDescription</key>
	<string>Feishu needs the permission to write to your contacts, so you won't miss any Buzzed! calls.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allow payment using your face ID for better experience.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>During meetings, you can pair and connect with the equipment in meeting rooms.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please allow us to access to your exact location to enable full functionality of Attendance, Check-In and Calendar.</string>
	<key>NSLocationUsageDescription</key>
	<string>Please allow us to access to your exact location to enable full functionality of Attendance, Check-In and Calendar.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow us to access to your exact location to enable full functionality of Attendance, Check-In and Calendar.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Feishu to use your microphone, so you can communicate with your colleagues via voice/video messages and calls.</string>
	<key>NSMotionUsageDescription</key>
	<string>When enabled, you’ll see your step count and  the Shake feature will report you the list of your previous activities. If not, the feature won’t be available on your device.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Feishu to save photos and videos you select to your phone album.</string>
	<key>NSPhotoLibraryLimitedAccessAPISupport</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Feishu needs access to your album to let you upload and send photos/videos from your phone without effort.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Feishu needs the permission to record sound to enable you full functionality in the App Center.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>Scene</string>
	</array>
	<key>PUSH_CHANNEL</key>
	<string>internal-dev</string>
	<key>RELEASE_CHANNEL</key>
	<string>Release</string>
	<key>SHOW_UPGRADE</key>
	<true/>
	<key>SSAppID</key>
	<string>1161</string>
	<key>SSO_ENABLED</key>
	<true/>
	<key>SUPPORTED_LANGUAGES</key>
	<array>
		<string>zh_HK</string>
		<string>zh_TW</string>
		<string>en_US</string>
		<string>zh_CN</string>
		<string>zh_TW</string>
		<string>zh_HK</string>
		<string>ja_JP</string>
		<string>id_ID</string>
		<string>de_DE</string>
		<string>es_ES</string>
		<string>fr_FR</string>
		<string>it_IT</string>
		<string>pt_BR</string>
		<string>vi_VN</string>
		<string>ru_RU</string>
		<string>hi_IN</string>
		<string>th_TH</string>
		<string>ko_KR</string>
	</array>
	<key>Sns_QQ_AppID</key>
	<string>1107733183</string>
	<key>Sns_UniversalLink</key>
	<string>https://applink.feishu.cn/</string>
	<key>Sns_Wechat_AppID</key>
	<string>wx2dccad7bcdbdab7e</string>
	<key>Sns_Weibo_AppID</key>
	<string>1426943654</string>
	<key>TELECOM_APPID</key>
	<string>placeholder</string>
	<key>TELECOM_APPKEY</key>
	<string>placeholder</string>
	<key>UIApplicationSceneManifest~ipad</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>Default</string>
					<key>UISceneDelegateClassName</key>
					<string>AppContainer.SceneDelegate</string>
				</dict>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>Other</string>
					<key>UISceneDelegateClassName</key>
					<string>AppContainer.SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UNICOM_APPID</key>
	<string>placeholder</string>
	<key>UNICOM_APPKEY</key>
	<string>placeholder</string>
</dict>
</plist>
