.*
!.seer
*.xcuserdatad
.eescaffold/podspecs.rclt
.eescaffold/i18n.mappr.yaml

#pods
**/Pods/**

#-dev
**/*-dev

.DS_Store

# EEScaffold
**/publish_status.yaml
personal-ci-auth.json

pipeline_stript

# Example
Example/Pods
Example/Passport.xcworkspace/xcuserdata
Example/Passport.xcodeproj/xcuserdata
Example/Passport.xcodeproj/project.xcworkspace/xcuserdata

# build
**/build
