<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>clearWebStorage</string>
	<string>getInternalFeatureGating</string>
	<string>larkPrivateGatewayParams</string>
	<string>getWebDetectBaseInfo</string>
	<string>getWebDetectNetStatus</string>
	<string>monitorReport</string>
	<string>getCookieFromURL</string>
	<string>removeCookieFromURL</string>
	<string>clearWebAllCache</string>
	<string>getWebDebugConnection</string>
	<string>closeWebDebugConnection</string>
	<string>passportGetAppInfo</string>
	<string>passportLogout</string>
	<string>passportUnRegister</string>
	<string>flutter.lark.getDeviceId</string>
	<string>flutter.lark.getSession</string>
	<string>flutter.lark.getTenantId</string>
	<string>flutter.lark.getTenantBrand</string>
	<string>flutter.lark.getDomainSetting</string>
	<string>flutter.lark.currentLocale</string>
	<string>flutter.lark.useBoe</string>
	<string>flutter.lark.usePPE</string>
	<string>flutter.lark.xTTEnv</string>
	<string>flutter.lark.appVersion</string>
	<string>flutter.lark.versionCode</string>
	<string>flutter.lark.appName</string>
	<string>flutter.lark.packageName</string>
	<string>flutter.lark.devicePlatform</string>
	<string>flutter.lark.shareText</string>
	<string>flutter.lark.openFile</string>
	<string>flutter.lark.generateUrlPreview</string>
	<string>flutter.lark.isFeatureEnabled</string>
	<string>flutter.lark.getAppConfig</string>
	<string>flutter.lark.reportMonitorEvent</string>
	<string>flutter.lark.reportTrackEvent</string>
	<string>flutter.lark.exitWebview</string>
	<string>flutter.lark.openViaFlutterNativeIfNeeded</string>
	<string>flutter.lark.sendRequest</string>
	<string>flutter.meego.alignCookies</string>
	<string>flutter.lark.rustKvGetJsonStr</string>
	<string>flutter.lark.rustKvSetJsonStr</string>
	<string>flutter.lark.hasSafeArea</string>
</array>
</plist>
