<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keys</key>
	<dict>
		<key>BK_sample_key_0.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_0</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_0</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_1.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_1</string>
		</array>
		<key>BK_sample_key_10.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_10</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_10</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_100.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_100</string>
		</array>
		<key>BK_sample_key_11.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_11</string>
		</array>
		<key>BK_sample_key_12.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_12</string>
		</array>
		<key>BK_sample_key_13.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_13</string>
		</array>
		<key>BK_sample_key_14.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_14</string>
		</array>
		<key>BK_sample_key_15.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_15</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_15</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_16.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_16</string>
		</array>
		<key>BK_sample_key_17.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_17</string>
		</array>
		<key>BK_sample_key_18.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_18</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_18</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_19.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_19</string>
		</array>
		<key>BK_sample_key_2.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_2</string>
		</array>
		<key>BK_sample_key_20.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_20</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_20</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_21.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_21</string>
		</array>
		<key>BK_sample_key_22.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_22</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_22</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_23.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_23</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_23</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_23</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_24.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_24</string>
		</array>
		<key>BK_sample_key_25.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_25</string>
		</array>
		<key>BK_sample_key_26.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_26</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_26</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_27.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_27</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_27</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_27</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_28.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_28</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_28</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_29.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_29</string>
		</array>
		<key>BK_sample_key_3.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_3</string>
		</array>
		<key>BK_sample_key_30.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_30</string>
		</array>
		<key>BK_sample_key_31.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_31</string>
		</array>
		<key>BK_sample_key_32.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_32</string>
		</array>
		<key>BK_sample_key_33.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_33</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_33</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_33</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_34.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_34</string>
		</array>
		<key>BK_sample_key_35.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_35</string>
		</array>
		<key>BK_sample_key_36.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_36</string>
		</array>
		<key>BK_sample_key_37.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_37</string>
		</array>
		<key>BK_sample_key_38.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_38</string>
		</array>
		<key>BK_sample_key_39.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_39</string>
		</array>
		<key>BK_sample_key_4.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_4</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_4</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_4</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_4</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_40.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_40</string>
		</array>
		<key>BK_sample_key_41.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_41</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_41</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_42.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_42</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_42</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_43.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_43</string>
		</array>
		<key>BK_sample_key_44.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_44</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_44</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_44</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_45.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_45</string>
		</array>
		<key>BK_sample_key_46.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_46</string>
		</array>
		<key>BK_sample_key_47.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_47</string>
		</array>
		<key>BK_sample_key_48.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_48</string>
		</array>
		<key>BK_sample_key_49.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_49</string>
		</array>
		<key>BK_sample_key_5.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_5</string>
		</array>
		<key>BK_sample_key_50.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_50</string>
		</array>
		<key>BK_sample_key_51.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_51</string>
		</array>
		<key>BK_sample_key_52.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_52</string>
		</array>
		<key>BK_sample_key_53.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_53</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_53</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_54.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_54</string>
		</array>
		<key>BK_sample_key_55.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_55</string>
		</array>
		<key>BK_sample_key_56.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_56</string>
		</array>
		<key>BK_sample_key_57.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_57</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_57</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_57</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_58.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_58</string>
		</array>
		<key>BK_sample_key_59.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_59</string>
		</array>
		<key>BK_sample_key_6.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_6</string>
		</array>
		<key>BK_sample_key_60.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_60</string>
		</array>
		<key>BK_sample_key_61.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_61</string>
		</array>
		<key>BK_sample_key_62.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_62</string>
		</array>
		<key>BK_sample_key_63.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_63</string>
		</array>
		<key>BK_sample_key_64.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_64</string>
		</array>
		<key>BK_sample_key_65.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_65</string>
		</array>
		<key>BK_sample_key_66.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_66</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_66</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_66</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_67.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_67</string>
		</array>
		<key>BK_sample_key_68.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_68</string>
		</array>
		<key>BK_sample_key_69.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_69</string>
		</array>
		<key>BK_sample_key_7.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_7</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_7</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_7</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_70.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_70</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_70</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_71.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_71</string>
		</array>
		<key>BK_sample_key_72.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_72</string>
		</array>
		<key>BK_sample_key_73.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_73</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_73</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_74.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_74</string>
		</array>
		<key>BK_sample_key_75.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_75</string>
		</array>
		<key>BK_sample_key_76.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_76</string>
		</array>
		<key>BK_sample_key_77.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_77</string>
		</array>
		<key>BK_sample_key_78.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_78</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_78</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_79.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_79</string>
		</array>
		<key>BK_sample_key_8.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_8</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_8</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_8</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_80.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_80</string>
		</array>
		<key>BK_sample_key_81.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_81</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_81</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_82.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_82</string>
		</array>
		<key>BK_sample_key_83.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_83</string>
		</array>
		<key>BK_sample_key_84.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_84</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_84</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_85.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_85</string>
		</array>
		<key>BK_sample_key_86.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_86</string>
		</array>
		<key>BK_sample_key_87.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_87</string>
		</array>
		<key>BK_sample_key_88.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_88</string>
		</array>
		<key>BK_sample_key_89.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_89</string>
		</array>
		<key>BK_sample_key_9.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_9</string>
		</array>
		<key>BK_sample_key_90.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_90</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_90</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_91.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_91</string>
		</array>
		<key>BK_sample_key_92.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_92</string>
		</array>
		<key>BK_sample_key_93.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_93</string>
		</array>
		<key>BK_sample_key_94.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_94</string>
		</array>
		<key>BK_sample_key_95.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_95</string>
		</array>
		<key>BK_sample_key_96.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_96</string>
		</array>
		<key>BK_sample_key_97.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_97</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_97</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_97</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_98.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_98</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_98</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_99.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_99</string>
		</array>
	</dict>
</dict>
</plist>
