<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keys</key>
	<dict>
		<key>BK_sample_key_0/MK_sample_key_1.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_0__MK_sample_key_1</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>en.lproj/BK_sample_key_0__MK_sample_key_1</string>
				</array>
				<key>ja</key>
				<array>
					<string>asset-path</string>
					<string>ja.lproj/BK_sample_key_0__MK_sample_key_1</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>zh.lproj/BK_sample_key_0__MK_sample_key_1</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_0/MK_sample_key_2.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_0__MK_sample_key_2</string>
		</array>
		<key>BK_sample_key_0/MK_sample_key_3.image</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>BK_sample_key_0__MK_sample_key_3</string>
				</array>
				<key>en</key>
				<array>
					<string>asset-path</string>
					<string>en.lproj/BK_sample_key_0__MK_sample_key_3</string>
				</array>
			</dict>
		</array>
		<key>BK_sample_key_0/MK_sample_key_4.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_0__MK_sample_key_4</string>
		</array>
		<key>BK_sample_key_0/MK_sample_key_5.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_0__MK_sample_key_5</string>
		</array>
		<key>BK_sample_key_0/MK_sample_key_6.image</key>
		<array>
			<string>asset-path</string>
			<string>BK_sample_key_0__MK_sample_key_6</string>
		</array>
		<key>feed_top_bar</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>asset-path</string>
					<string>feed_top_bar</string>
				</array>
				<key>zh</key>
				<array>
					<string>asset-path</string>
					<string>zh.lproj/feed_top_bar</string>
				</array>
			</dict>
		</array>
		<key>sdfadsfs</key>
		<array>
			<string>multiply</string>
			<dict>
				<key>$base</key>
				<array>
					<string>bundle-path</string>
					<string>sdfadsfs.wav</string>
				</array>
				<key>2</key>
				<array>
					<string>bundle-path</string>
					<string>sdfadsfs@2x.wav</string>
				</array>
			</dict>
		</array>
		<key>sss/ddd.audio</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>bundle-path</string>
					<string>Base.lproj/sss__ddd.wav</string>
				</array>
				<key>ja</key>
				<array>
					<string>bundle-path</string>
					<string>ja.lproj/sss__ddd.wav</string>
				</array>
				<key>zh</key>
				<array>
					<string>bundle-path</string>
					<string>zh.lproj/sss__ddd.wav</string>
				</array>
			</dict>
		</array>
		<key>Lark_Legacy_MessengerTab.text</key>
		<array>
			<string>lproj</string>
			<dict>
				<key>$base</key>
				<array>
					<string>table-name</string>
					<string>Base.lproj/meta</string>
				</array>
				<key>zh_CN</key>
				<array>
					<string>table-name</string>
					<string>zh_CN.lproj/meta</string>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
